body {
  font-family: sans-serif;
  background: #f4f4f4;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  background: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#logoutBtn {
  background-color: #dc3545;
  float: right;
}

#logoutBtn:hover {
  background-color: #a71d2a;
}

.slot {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.slot.empty {
  background-color: green;
}

.slot.occupied {
  background-color: red;
}
